Repository 1846689910/micro-bus, changes with the labels that .github/labeler.yml gives for each.
All labels: client, data, API, pages, server, test, dependencies, configuration

mod
  api/type-18-hek.ts
  api/type-18-next.ts
  package-lock.json
  package.json
  src/pages/_api/type-18-hek.tsx
  src/pages/_api/type-18-next.tsx
  src/server/type-18-hek/profile.ts
  src/server/type-18-next/profile.ts
Labels: API, server, dependencies

mod
  api/type-18-next.ts
Labels: API

mod
  src/client/ts/home/APITableRow.tsx
Labels: client

mod
  README.md
  src/pages/_api/type-18-hek.tsx
  src/pages/_api/type-18-next.tsx
  src/server/type-18-hek/profile.ts
  src/server/type-18-next/profile.ts
Labels: API, server

mod
  src/pages/_api/type-18-hek.tsx
  src/server/type-18-hek/graphql/next-dev-resolvers.ts
  src/server/type-18-next/graphql/next-dev-resolvers.ts
Labels: API, server

mod
  .eslintrc.js
  src/client/ts/home/APITableRow.tsx
  src/pages/_api/type-18-hek.tsx
Labels: client, API

mod
  next.config.js
Labels: configuration

mod
  src/server/type-18-hek/profile.ts
  src/server/type-18-next/profile.ts
Labels: server

mod
  src/client/ts/settings/actions.tsx
  src/client/ts/settings/reducers.tsx
  src/client/ts/settings/store.tsx
  src/pages/_app.tsx
Labels: client, pages

patch version
  package-lock.json
  package.json
Labels: dependencies

mod
  README.md
  src/models/EndPointProfile.ts
Labels: none

mod
  package-lock.json
  package.json
Labels: dependencies

mod
  src/client/ts/home/APITableRow.tsx
  src/server/type-18-hek/profile.ts
  src/server/type-18-next/profile.ts
Labels: client, server

add
  src/server/personal-page/data/index.ts
  src/server/personal-page/graphql/index.ts
  src/server/personal-page/graphql/next-dev-resolvers.ts
  src/server/personal-page/graphql/type-defs.ts
  src/server/personal-page/profile.ts
Labels: server

add end point
  api/personal-page.ts
  src/pages/_api/personal-page.tsx
Labels: API

mod
  src/client/ts/home/APITable.tsx
  src/server/personal-page/profile.ts
Labels: client, server

mod
  package-lock.json
  package.json
Labels: dependencies

mod
  src/server/personal-page/profile.ts
Labels: server

mod
  package-lock.json
  package.json
  src/server/personal-page/profile.ts
  yarn.lock
Labels: server, dependencies

mod
  src/server/personal-page/graphql/next-dev-resolvers.ts
  src/server/personal-page/graphql/type-defs.ts
Labels: server

.github/labeler.yml:

client:
  - src/client/**/*
data:
  - src/data/**/*
API:
  - src/pages/_api/**/*
  - api/**/*
pages:
  - src/pages/*
server:
  - src/server/**/*
test:
  - test/**/*
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock
configuration:
  - tsconfig.json
  - tsconfig.test.json
  - next.config.js
